<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table table-striped">
    <tbody>
    <tr>
        <td>Диагональ</td>
        <td>{{ product.diagonal }}</td>
    </tr>
    <tr>
        <td>Тип дисплея</td>
        <td>{{ product.display_type }}</td>
    </tr>
    <tr>
        <td>Разрешение</td>
        <td>{{ product.resolution }}</td>
    </tr>
    <tr>
        <td>Оперативная память</td>
        <td>{{ product.ram }}</td>
    </tr>
    <tr>
        <td>Наличие СД карты</td>
        <td>{{ product.have_sd }}</td>
    </tr>
    <tr>
        <td>Макимальная ёмкость СД карты</td>
        <td>{{ product.sd_volume_max }}</td>
    </tr>
    <tr>
        <td>Ёмкость аккамулятора</td>
        <td>{{ product.accum_volume }}</td>
    </tr>
    <tr>
        <td>Главная камера</td>
        <td>{{ product.main_cam }}</td>
    </tr>
    <tr>
        <td>Фронтальная камера</td>
        <td>{{ product.frontal_cam }}</td>
    </tr>
    </tbody>
</table>
</body>
</html>
